<p id="notice"><%= notice %></p>

<h1><%= link_to "Books", books_path %></h1>
<hr>

<%- @books.each do |book| -%>

  <%= div_for(book, 'box_for') do %>
    <div class="info">
      <strong><%= book.author %></strong>:
      <em><%= book.title %></em>
      <small>(Lze půjčit? <strong><%= book.borrowable? ? 'ANO' : 'NE' %></strong>)</small>
    </div>

    <div class="actions">
      <%= link_to 'Show', book %> | 
      <%= link_to 'Edit', edit_book_path(book) %> | 
      <%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %>
    </div>

    <%- if book.borrowable? -%>
      <%= form_tag('#') do -%>
        <%= text_field_tag 'reader[card_id]', '', :id => dom_id(book, :borrower_card_id_for) %>
        <%= submit_tag 'Půjčit' %>
      <%- end -%>
    <%- end -%>
    
  <%- end -%>

<%- end -%>


<br />
<hr>

<%= link_to 'New Book', new_book_path %>
