<p id="notice"><%= notice %></p>

<h1><%= link_to "Books", books_path %></h1>
<hr>

<%- @books.each do |book| -%>

  <%= div_for(book, 'box_for') do %>
    <div class="info">
      <strong><%= book.author %></strong>:
      <em><%= book.title %></em>
    </div>

    <div class="actions">
      <%= link_to 'Show', book %> | 
      <%= link_to 'Edit', edit_book_path(book) %> | 
      <%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %>
    </div>

    <%- if book.borrowable? -%>

      <%- unless book.borrowed? -%>

        <%= form_tag(borrow_book_path(book)) do -%>
          <%= text_field_tag 'borrower_card_id', '', :id => dom_id(book, :borrower_card_id_for) %>
          <%= submit_tag 'Půjčit' %>
        <%- end -%>

      <%- else -%>
        <p>Tato je kniha je vypůjčena čtenáři/ce <em><%= book.reader.name %></em> od <%= book.borrowed_from.to_date.to_s(:format => 'short') %></p>
      <%- end -%>

    <%- else -%>
        <p>Tuto knihu nelze zapůjčit</p>
    <%- end -%>
    
  <%- end -%>

<%- end -%>


<br />
<hr>

<%= link_to 'New Book', new_book_path %>
