<h1>Listing books</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Borrowable?</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr id="<%= dom_id(book) %>">
    <td><%= book.author %></td>
    <td><%= book.title %></td>
    <td><%= book.borrowable? %></td>
    <td>
      <%= form_tag('#') do -%>
        <%= text_field_tag dom_id(book, :borrower_card_id_for) %>
      <%- end -%>
    </td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
